@import url('https://fonts.googleapis.com/css?family=Signika:700|Work%20Sans:400');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 6%;
  font-family: 'Work Sans';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Signika';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 5.652rem; /* 90.4px */}

h2 {font-size: 3.997rem; /* 64px */}

h3 {font-size: 2.827rem; /* 45.28px */}

h4 {font-size: 1.999rem; /* 32px */}

h5 {font-size: 1.414rem; /* 22.56px */}

small {font-size: 0.707rem; /* 11.36px */}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main-btn-pink {
  display: inline-flex;
  color: white;
  background-color: #d98dc3;
  border-width: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  transition: all ease-out 0.2s;
}

.main-btn-pink:hover {
  background-color: #b64c8e;
}